<div class="row animated fadeIn fast" *ngIf="cargando">
    <app-loading ></app-loading>
</div>

<div class="col-12" *ngIf="!cargando">
    <!-- grid_home -->
    <app-grid-home [usuario]="usuario"></app-grid-home>
    <!-- grid_home -->
    <!-- otrosCategorias -->
    <app-categorias></app-categorias>
    <!-- otrosCategorias -->
    <br>
    <!-- publicidad -->
    <app-publicidad></app-publicidad>
    
    <!-- publicidad -->
    <br>
    <!-- Todas las citas -->
    <app-citas [usuario]="usuario"></app-citas>
    
    <!-- Todas las citas -->
    <br>
    <!-- signos vitales -->
    <app-signosvitales [usuario]="usuario"></app-signosvitales>
    <!-- signos vitales -->
    
</div>
<app-pwa-notif-installer></app-pwa-notif-installer>
