
<!---menu movil footer-->
<div class="foot">
    <div class="navbarM ">
        <a routerLink="/app/home">
            <img src="./assets/svg/hogar.svg" alt="">
            <p>Home</p>
        </a>
        <a routerLink="/app/agendar-cita" class="modal-footer-topics">
            <img src="./assets/svg/marcador.svg" alt="">
            <p>Agendar</p>
        </a>
        <a routerLink="/app/lista" class="modal-footer-staff">
            <img src="./assets/svg/prismaticos.svg" alt="">
            <p>Lista </p>
        </a>
        <a routerLink="/app/perfil" class="modal-footer-follow">
            <img src="./assets/svg/agregar-usuario.svg" alt="">
            <p>Yo</p>
        </a>
    
    </div>
</div>
